*~

# Autotools
/autom4te.cache
/config.*
/configure
/install-sh
/missing

# Build artifacts
*.o
.buildlib_*
make.depend
make.include
/src/lib/libFestival.a
/src/main/festival
/src/main/festival_client
/bin/default_voices
/bin/festival
/bin/festival_client
/bin/festival_server
/bin/festival_server_control
/bin/text2wave
/build.log
/config/config
/config/modincludes.inc
/config/system.mak
/doc/festival.1
/doc/festival_client.1
/doc/text2wave.1
/examples/dumpfeats
/examples/durmeanstd
/examples/latest
/examples/make_utts
/examples/powmeanstd
/examples/run-festival-script
/examples/saytime
/examples/scfg_parse_text
/examples/text2pos
/examples/text2utt
/examples/text2wave
/lib/cstr.scm
/lib/etc/arm64_Darwin/
/lib/fringe.scm
/lib/siod.scm
/lib/web.scm
/src/modules/init_modules.cc
